#magali{
  display: none
}
#melancia{
  display: none
}

#icanvas {
  background-image: url(https://uploaddeimagens.com.br/images/003/278/275/full/fundo.jpg?1623118621);
  background-size: cover;
  background-repeat: round;
}